.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainContainer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.mainContainer_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-right: 2rem;
}

.mainContainer_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.mainContainer_left img {
  height: 30rem;
}

.mainContainer_right > p:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
}

.mainContainer_right > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 200;
}

.joinNowBtn {
  margin-top: 1rem;
  background-color: rgb(229, 14, 204);
}

/* @media screen and (max-width: 950px) {
  .joinNowBtn {
    margin-top: 2rem;
  }

  .mainContainer {
    flex-direction: column;
  }
} */
